[submodule "submodules/fann"]
	path = fann
	url = https://github.com/libfann/fann.git
[submodule "util/hdl-tools"]
	path = util/hdl-tools
	url = ../hdl-tools
[submodule "src/main/scala/perfect"]
	path = perfect-chisel
	url = ../perfect-chisel
[submodule "env"]
	path = tests/env
	url = https://github.com/ucb-bar/riscv-test-env.git
[submodule "rocc-software"]
	path = tests/rocc-software
	url = ../rocc-software
